:root {

    --background-color-dark: #303346;
    --background-color-darker: #252837;
    --background-color-darkest: #1d1f2b;

    --main-color: #4059ac;
    --main-color-hover: #384b8a;
    
    --text-color: #F3DFC1;
    --text-color-darker: #DDBEA8;

    
}

html {
    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color-darkest);
    height: 100%;
}

.navbar {
    background: #202225;
    float: left;
    height: 100vh;
    width: 72px;
    
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    padding-top: 0;
}


.links-navbar {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #36393f;
    
    position: relative;
    
    transition: border-radius 250ms, background 250ms;
    
}




.links-navbar:hover::before {
    content: "";
    display: block;
    height: 40%;
    width: 10%;
    background-color: var(--text-color-darker);
    border-radius: 0 6px 6px 0;
    transform: translateX(-11px);
    top: 30%;
    position: relative;
    animation: grow-pill 0.12s 0s backwards ease-in-out;
}


@keyframes grow-pill {
    0% {
        width: 0%;
        height: 0%;
        top: 50%;
    }
    100% {
        width: 10%;
        height: 40%;
        top: 30%;
    }
}

.links-navbar.active::before {
    content: "";
    display: block;
    height: 65%;
    width: 10%;
    background-color: var(--text-color);
    border-radius: 0 6px 6px 0;
    transform: translateX(-11px);
    top: 17.5%;
    position: relative;
}

.links-navbar > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

.links-navbar:hover {
    border-radius: 25%;
    background: var(--main-color-hover);
}

.links-navbar.active {
  border-radius: 25%;
  background: var(--main-color);
}

.homepage-navbar-link {
    margin-top: 12px;
    height: 48px;
    width: 48px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.homepage-navbar-link.active::before {    
    content: "";
    display: block;
    height: 65%;
    width: 10%;
    background-color: var(--text-color);
    border-radius: 0 6px 6px 0;
    transform: translateX(-11px);
    top: 17.5%;
    position: relative;
}

.homepage-navbar-link.active > .homepage-navbar-image {
    transform: translateY(-65%);
    filter: grayscale(0%) !important;
}

.homepage-navbar-image {
    height: 48px;
    width: 48px;
    filter: grayscale(60%);
}

.homepage-navbar-link.active > .homepage-navbar-image:hover {
    animation: none;
}

.homepage-navbar-image:hover {
    animation: grow-pic 0.2s forwards ease-out;
}

@keyframes grow-pic {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }
    100% {
        transform: rotate(360deg);
        scale: 1.3;
    }
}


.date_switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--background-color-dark);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    gap: 5px;
}

.date_switcher_button {
    padding: 10px 0px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 100%;
}

.date_switcher_button:hover {
    background-color: var(--main-color-hover);
}

.current_date {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--background-color-darkest);
    color: var(--text-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 50%;
}

.date_switcher_button_parent {
    width: 25%;
}

.main_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.sub_container {
    width: min-content;
    margin: 0 auto;
}
.weekdays_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    width: fit-content;
    margin: 0 auto;
}

.timetable_wrapper_form {
    margin: 0 auto;
    width: fit-content;
}

.timetable_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    width: fit-content;
    margin: 0 auto;
    height: calc(100vh - 205px);
    overflow: auto;
    clear: both;
}

.input-profile-name {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--background-color-darker);
    outline: 2px solid var(--background-color-dark);
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.input-profile-name:focus {
    outline: 2px solid var(--main-color);
}

.day {
    display: grid;
    grid-template-rows: repeat(9, 500px) !important; 
}

.weekday {
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;

    background-color: var(--background-color-dark);
    color: var(--text-color);
    font-size: 1.5rem;
    
    font-weight: bold;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.container > .weekday > h1 {
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;

    background-color: var(--background-color-dark);
    color: var(--text-color);
    text-align: center;

}

.period_wrapper {
    display: flex;
    flex-direction: row;
}

.period {
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;

    background-color: var(--background-color-dark);
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

.period_time {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
.period_time:empty {
    display: none;
}

.period_time_value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
}

.period_start_time {
}

.period_end_time {
}

.subject {

    
    
    color: var(--text-color);
    background-color: var(--background-color-darkest);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100%;


    /* not selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin: 0 10px 0 10px;
}

.checkbox::before {
    
}

.info {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}


.subject_name {
    display: flex;
    flex-direction: column;
}


.subject_short_name {
    font-size: 1.5em;
    font-weight: bold;

}

.subject_long_name {
}

.room_name {
    font-size: 1rem;
    font-style: italic;
}

.room_lang_name {
    font-size: 0.75rem;
    font-style: italic;
}

.ausfall {
    font-weight: bold;
}

input[type="checkbox"]:checked + .subject {
    background-color: var(--main-color-hover);
}

input[type="checkbox"] {
    position: absolute;
    z-index: -100;
    opacity: 0;
    top: 0;
}

.submit_timetable {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 100%;
}


@media (max-width: 600px) {
    .period_wrapper > .period:nth-child(4), .period:nth-child(5) {
        display: none;   
    }
    .period {
        width: calc((100%)/3);
    }
}
    