:root {

    --background-color-dark: #303346;
    --background-color-darker: #252837;
    --background-color-darkest: #1d1f2b;

    --main-color: #4059ac;
    --main-color-hover: #384b8a;
    
    --text-color: #F3DFC1;
    --text-color-darker: #DDBEA8;

    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color-darkest);
}
.container {
    margin: 0;
    /* padding: 0; */
    /* display: grid;
    
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    flex-direction: column;
    
}

.timetable_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 200px);
}

.day {
    display: grid;
    grid-template-rows: repeat(9, 500px) !important; 
}

.weekday {
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;

    background-color: var(--background-color-dark);
    color: var(--text-color);
    font-size: 1.5rem;
    
    font-weight: bold;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.weekday:nth-child(1){
    background-color: var(--background-color-darkest);
}

.container > .weekday > h1 {
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;

    background-color: var(--background-color-dark);
    color: var(--text-color);
    text-align: center;

}

.period_wrapper {
    display: flex;
    flex-direction: row;
}

.period {
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;

    background-color: var(--background-color-dark);
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

.period_time {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
.period_time:empty {
    display: none;
}

.period_time_value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
}

.period_start_time {
}

.period_end_time {
}

.subject {

    
    
    color: var(--text-color);
    background-color: var(--background-color-darkest);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100%;


    /* not selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin: 0 10px 0 10px;
}

.checkbox::before {
    
}

.info {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}


.subject_name {
    display: flex;
    flex-direction: column;
}


.subject_short_name {
    font-size: 1.5em;
    font-weight: bold;

}

.subject_long_name {
}

.room_name {
    font-size: 1rem;
    font-style: italic;
}

.room_lang_name {
    font-size: 0.75rem;
    font-style: italic;
}

.ausfall {
    font-weight: bold;
}

input[type="checkbox"]:checked + .subject {
    background-color: var(--main-color-hover);
}

input[type="checkbox"] {
    position: absolute;
    z-index: -100;
}


@media (max-width: 600px) {
    .period_wrapper > .period:nth-child(4), .period:nth-child(5) {
        display: none;   
    }
    .period {
        width: calc((100%)/3);
    }
}
    